.success {
    font-family: var(--font-roboto);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 43rem;
    min-height: 43rem;
    padding: 5rem;
    border-radius: 20px;
    background: var(--color-white);

    display: none;

    & svg {
        margin-bottom: 2rem;
    }

    &__heading {
        font-size: clamp(1.8rem, 5vh + 1rem, 6rem);
    }

    &__paragraph {
        font-size: 1.4rem;
        line-height: 2.3rem;
        margin: 2rem 0;
    }

    &__heading,
    &__paragraph {
        color: var(--color-dark-grey);
    }

    &__button {
        border: none;
        min-height: 5rem;
        min-width: 100%;
        align-self: center;
        color: var(--color-white);
        font-weight: bold;
        background: var(--color-dark-grey);
        cursor: pointer;
        border-radius: 6px;
        transition: all 0.3s ease;

        &:hover {
            transform: scale(1.05);
            background-image: linear-gradient(to right, var(--color-tomato) 60%, var(--color-orange));
            box-shadow: 2px 6px 15px var(--color-tomato);
        }
    }

    &__email {
        font-weight: bold;
    }
}
