:root {
    // COLORS
    --color-dark-grey: hsl(234, 29%, 20%);
    --color-charcoal-grey: hsl(235, 18%, 26%);
    --color-grey: hsl(231, 7%, 60%);
    --color-white: hsl(0, 0%, 100%);
    --color-tomato: hsl(4, 100%, 67%);
    --color-orange: hsl(13, 100%, 62%);

    // FONTS
    --font-roboto: "Roboto", sans-serif;
}
